body {
    font-family: 'Montserrat', sans-serif;
}

.background{
  background: url("../assets/images/contact_galaxy.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  padding-bottom: 100px;
}

.header .navbar-nav>li>a {
    color: white;
    font-size: 19px;
}

.header .navbar {
    margin-bottom: 0px;
    padding-top: 30px;
    width: 100%;
    border: none;
    background-color: transparent;
    min-width: 300px;
}

.header .navbar-default .navbar-nav>.open>a,
.header .navbar-default .navbar-nav>.open>a:focus,
.header .navbar-default .navbar-nav>.open>a:hover {
    color: #ccc;
    background-color: transparent;
}

.header .nav>li>a:focus,
.header .nav>li>a:hover {
    color: #ccc;
    background-color: transparent;
}

.header .navbar-nav>li {
    margin-right: 20px;
    border: none;
}

.header .navbar-nav {
   margin-top: 12px;
   border: none;
}

.header .navbar-toggle {
    background-color: transparent !important;
    margin-top: 20px;
    border: 1px solid #fff;
}

.header .navbar-toggle .icon-bar {
    background-color: white;
    border: none;
}

.header .navbar-brand {
    color: white;
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}

.header .navbar-brand:hover {
    color: #ccc;
}

.namecard{
  margin: 80px 360px;
  width: auto;
  height: 450px;
  background-position:center;
  background-color: white;
  box-shadow: 6px 6px 3px grey;
}

#photo{
  margin-top: 30px;
  margin-left: 20px;
  height: auto;
  width: auto;
  max-width: 220px;
  max-height: 220px;
  box-shadow: 6px 6px 3px lightgrey;
}

.namecard h1 {
    color: black;
    font-weight: bold;
    font-size: 50px;
}

.namecard  p {
    color: grey;
    font-size: 22px;
    max-width: 660px;
    margin: 0 auto 20px;
    margin-bottom: 20px;
    font-weight: normal;
    line-height: 1.5;
}

.namecard .btn-primary {
    color: black;
    background-color: transparent;
    border:solid;
    outline:none;
    font-size: 18px;
    transition:0.2s background-color;
    width: 300px;
}

.namecard .btn-primary:active{
    transform:translateY(1px);
}
.namecard .btn-primary:hover {
    color: grey;
}

#icon{
  height: auto;
  width: auto;
  margin-right: 10px;
  max-width: 50px;
  max-height: 50px;
}

.namecard .newrow{
  margin-left: 350px;
  margin-top: -40px;
}

.namecard .secondrow{
  margin-left: 350px;
  margin-top: 18px;
}

.namecard .col-sm-6 {
  margin-right: 50px;
}
