body {
    font-family: 'Montserrat', sans-serif;
}

.background{
  background: url("../assets/images/future_galaxy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 150px;
}

.header .navbar-nav>li>a {
    color: white;
    font-size: 19px;
}

.header .navbar {
    margin-bottom: 0px;
    padding-top: 30px;
    width: 100%;
    border: none;
    background-color: transparent;
    min-width: 300px;
}

.header .navbar-default .navbar-nav>.open>a,
.header .navbar-default .navbar-nav>.open>a:focus,
.header .navbar-default .navbar-nav>.open>a:hover {
    color: #ccc;
    background-color: transparent;
}

.header .nav>li>a:focus,
.header .nav>li>a:hover {
    color: #ccc;
    background-color: transparent;
}

.header .navbar-nav>li {
    margin-right: 20px;
    border: none;
}

.header .navbar-nav {
   margin-top: 12px;
   border: none;
}

.header .navbar-toggle {
    background-color: transparent !important;
    margin-top: 20px;
    border: 1px solid #fff;
}

.header .navbar-toggle .icon-bar {
    background-color: white;
    border: none;
}

.header .navbar-brand {
    color: white;
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}

.header .navbar-brand:hover {
    color: #ccc;
}

.buttons .row {
  /*background-color: transparent !important;*/
  margin-left: 60px;
  margin-right: 60px;
}

.buttons {
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 450px;
}

 .main h1 {
    color: white;
    font-size: 30px;
    margin-left: 190px;
}

.main p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 22px;
    max-width: 650px;
    margin-left: 240px;
    margin-bottom: 50px;
    font-weight: normal;
    line-height: 1.5;
    border-bottom: solid;
}


#planets{
    height: auto;
    width: auto;
    max-width: 180px;
    max-height: 180px;
}


#earth, #moon, #jupiter, #uranus, #solarsystem, #milkyway{
  color: white;
  /*color: #fff;*/
  background-color:transparent;
  /*border-color: #fffbfb !important;*/
  margin-right: 20px;
  margin-top: 20px;
  font-size: 16px;
  padding: 18px 30px;
  transition:0.2s background-color;
}

.buttons p{
  max-width: 900px;
  font-size: 18px;
  line-height: 1.5;
}
