<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Jianyi Gao's Personal Webpage">
    <meta name="author" content="Jianyi Gao">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../style/contact_style.css">
  </head>
  <body>
    <div class = "background">
    <div class = "header">
    <nav class="navbar navbar-default">
        <div class="container">
            <a class="navbar-brand" href="me.html">Jianyi Gao</a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarmenu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarmenu">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="past.html">A Link to the Past</a></li>
                    <li><a href="future.html">A Glimpse into the Future</a></li>
                    <li><a href="../assets/file/JianyiGao_Resume.pdf">Resume</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
          </div>
      </nav>
    </div>
    <div class = "namecard">
      <div class = "row">
        <div class = "col-sm-6 col-md-4">
          <img id = "photo" src = "../assets/images/namecard.jpg" />
        </div>
          <h1>Hey there,</h1>
          <p> Can't wait to get to know you!</p>
          <img id = "icon"  src = "../assets/images/email_1.png"/ style = "margin-left: 40px" />
          <a class="btn btn-primary" onclick="window.location.href='mailto:gaojianyi912@gmail.com'"> gaojianyi912@gmail.com </a>
        </div>
        <div class = "newrow">
          <img id = "icon"  src = "../assets/images/linkedin.png"/>
          <a class="btn btn-primary" href = "https://www.linkedin.com/in/jianyi-gao-504151105/"> Jianyi Gao </a>
        </div>
        <div class = "secondrow">
          <img id = "icon"  src = "../assets/images/wechat.png"/>
          <button type="button" class="btn btn-primary" style="cursor:default;">jenny5NPH</button>
        </div>
        <div class = "secondrow">
          <img id = "icon"  src = "../assets/images/snapchat.png"/>
          <button type="button" class="btn btn-primary">gaojianyi</button>
       </div>


    </div>
  </div>
  <!-- <script src="https://code.angularjs.org/1.4.3/angular.js"></script> -->
  <script src="app.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
