<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Jianyi Gao's Personal Webpage">
    <meta name="author" content="Jianyi Gao">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../style/future_style.css">
  </head>
  <body>
    <div class = "background">
    <div class = "header">
    <nav class="navbar navbar-default">
        <div class="container">
            <a class="navbar-brand" href="me.html">Jianyi Gao</a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarmenu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarmenu">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="past.html">A Link to the Past</a></li>
                    <li><a href="future.html">A Glimpse into the Future</a></li>
                    <li><a href="../assets/file/JianyiGao_Resume.pdf">Resume</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
  </div>
  <div class = "main">
    <h1>From earth to the milkyway</h1>
    <p>What I am doing now and what I want to do in the future...</p>
  </div>

    <div class = "buttons">
      <div class = "row">
      <img id = "planets" class= "img-responsive col-xs-12" src = "../assets/images/planet-earth.png" data-toggle="collapse" data-target="#earth">
        <div id="earth" class="collapse in">
        <p>I am currently a thrid year at University of Florida, double major at Math and Computer Science.<br>
        Passionate about web development, learning React and MEAN stack framework.</br></p>
        <p style="font-size:22px; text-decoration:underline;">Looking for an internship for summer and fall 2017.</p>
    </div>
    </div>
    <div class = "row">
      <div class = "col-md-1"></div>
      <img id = "planets" class= "img-responsive col-xs-12" src = "../assets/images/moon.png" data-toggle="collapse" data-target="#moon">
        <div id="moon" class="collapse">
          <p>Proficient with Java, C++. HTML, CSS and SQLite;</p>
          <p>Experienced with Swift, JavaScript, MongoDB, NodeJs, Express, AngularJs, Bootstrap, LaTex; </p>
          <p>Basic knowledge with Matlab, R, and PHP;</p>
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-2"></div>
      <img id = "planets" class= "img-responsive col-xs-12" src = "../assets/images/jupiter.png" data-toggle="collapse" data-target="#jupiter">
        <div id="jupiter" class="collapse">
        <p>Learning web development, this webpage is my experiment land!</p>
        <p>Currently reconstruting this page with AngularJS.</p>
        <p>(Such Angular, so Js)</p>
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-3"></div>
      <img id = "planets" class= "img-responsive col-xs-12" src = "../assets/images/uranus.png" data-toggle="collapse" data-target="#uranus">
        <div id="uranus" class="collapse">
          <p>Interested in STEM education. Currently a TA for Programming Fundamental (Java).</p>
          <p>Planning to do research in Intelligent Natural Interaction Technology (INIT) Lab @ UF.</p>
    </div>
  </div>
    <div class = "row">
      <div class = "col-md-4"></div>
      <img id = "planets" class= "img-responsive col-xs-12" src = "../assets/images/solar-system.png" data-toggle="collapse" data-target="#solarsystem">
        <div id="solarsystem" class="collapse">
      <p>Why STEM education? I feel like children lack the oppertunities to get to know the fun part of STEM. There is not always calulations or formulas, I see them as puzzles. Puzzles are fun, so does STEM.</p>
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-5"></div>
      <img id = "planets" class= "img-responsive col-xs-12" src = "../assets/images/milky-way.png" data-toggle="collapse" data-target="#milkyway">
        <div id="milkyway" class="collapse">
        <p>Planning to go into industry after graduation.</p>
        <p>Maybe persuing a doctorate degree in the future.</p>
    </div>
  </div>




  </div>
  <!-- <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
  <script src="app.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
