<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Jianyi Gao's Personal Webpage">
    <meta name="author" content="Jianyi Gao">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../style/me_style.css">
  </head>
  <body>
    <div class = "background">
    <div class = "header">
    <nav class="navbar navbar-default">
        <div class="container">
            <a class="navbar-brand" href="me.html">Jianyi Gao</a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarmenu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarmenu">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="projects.html">Projects</a></li>
                    <li><a href="past.html">A Link to the Past</a></li>
                    <li><a href="future.html">A Glimpse into the Future</a></li>
                    <li><a href="../assets/file/JianyiGao_Resume.pdf">Resume</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-md-3 block">
            <div class="circle">
                <p><img class="icon" src = "../assets/images/learn.png"/>Undergraduate student at University of Florida. &nbsp Majoring in Computer Science and Math.</p>
            </div>
        </div>
        <div class="col-md-1 block">
          <div class="smallcircle">
              <p><img class="icon" src = "../assets/images/cook.png"/>Innovative baker, cook when roses are red.</p>
          </div>

        </div>
        <div class="col-md-8 block">
            <div class="mbigcircle">
                <p><img class="icon" src = "../assets/images/code.png"/>Code in Java, C++, HTML, CSS, Swift.&nbsp Learning MEAN stack developing, Oracle SQL.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 block">
            <div class="mbigcircle">
                <p><img class="icon" src = "../assets/images/pet.png"/>Pet lover ^_^ &nbspHave a dog named Chocolate, wish to have a cat.</p>
            </div>
        </div>
        <div class="col-md-1 block">
            <div class="circle">
                <p><img class="icon" src = "../assets/images/china.png"/>Born and raised in Shanghai, China.</p>
            </div>
        </div>
        <div class="col-md-3 block">
          <div class="bigcircle">

              <p></p>
              <p><img class="icon" src = "../assets/images/america.png"/>And here I am! &nbsp College experience is more than awesome, but there is no place like 127.0.0.1.</p>
          </div>

    </div>
</div>
<div>





    <!-- <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
  </html>
