<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Jianyi Gao's Personal Webpage">
    <meta name="author" content="Jianyi Gao">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../style/past_style.css">
  </head>
  <body>
    <div class = "background">
      <div class = "header">
        <nav class="navbar navbar-default">
          <div class="container">
              <a class="navbar-brand" href="me.html">Jianyi Gao</a>
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarmenu">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
              </div>
              <div class="collapse navbar-collapse" id="navbarmenu">
                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="../index.html">Home</a></li>
                      <li><a href="projects.html">Projects</a></li>
                      <li><a href="past.html">A Link to the Past</a></li>
                      <li><a href="future.html">A Glimpse into the Future</a></li>
                      <li><a href="../assets/file/JianyiGao_Resume.pdf">Resume</a></li>
                      <li><a href="contact.html">Contact</a></li>
                  </ul>
              </div>
          </div>
        </nav>
      </div>
      <div class="cards">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="../assets/images/infoTech.png" alt="InfoTech" class="img-rounded image" />
              <div class="caption">
                <h3>Frontend Development / UX Design Intern</h3>
                <p>Collaborate with team to conduct user research, translating business requirements into wireframes, mockups and prototypes, developing web applications using Google Polymer.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="../assets/images/hxrl.png" alt="Research Assistent" class="img-rounded image"  style = "margin-bottom: -1.7%;"/>
              <div class="caption">
                <h3>Research Assistant </h3>
                <p>At Computing and Society Engagement (CASE) Entreprenurial Diversity in Information Technology group.</p>
                <p>Working with local government and entrepreneurs to help them launch tech-based business. </p>
                <p>Consulting with clients to understand their goals and explaining research results, develop technologies envisioned and designed by them into high fidelity prototypes.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
            <img src="../assets/images/ta.jpg" alt="Teaching Assistent for Java" class="img-rounded image"/>
            <div class="caption">
              <h3>Teaching Assistent</h3>
              <p>Making assignments and projects for Java Programming Fundamental students.
              <p>Holding labs and office hours, help students to understand course material better. </p>
            </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="../assets/images/hle.png" alt="Happy Life Entitled" class="img-rounded image" />
              <div class="caption">
                <h3>Web Development Intern</h3>
                <p>Backend developing for Happylife Entitled organization.</p>
                <p>Main website improving, set up event pages.</p>
                <p>Contributed creative ideas and insight for improving user ability.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="../assets/images/ra.jpg" alt="Resident Assistent" class="img-rounded image"/>
              <div class="caption">
                <h3>Resident Assistent</h3>
                <p>Advice residents on personal and acedemic issues.</p>
                <p>It is pretty fun to decorate an entire hall and to hold events for new Gators!</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="../assets/images/codepath.jpg" alt="Teaching Assistant for CodePath" class="img-rounded image"/>
              <div class="caption">
                <h3>Teaching Assistant</h3>
                <p>Providing technique support for CodePath iOS developing class.</p>
                <p>Contucting discuss section (and learning new stuff at the same time!) with other TAs.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="../assets/images/csa.jpg" alt="Resident Assistent" class="img-rounded image"/>
              <div class="caption">
                <h3>Vice Director</h3>
                <p>Chinese Student Association Outreach Department</p>
                <p>Seeking more than $30,000 sponsorships for the benefits of Chinese students as well as scholars
                  each year.</p>
                <p>Organizing events for Chinese student community. This is our home far away from home.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="../assets/images/mcm.jpg" alt="Mathmetics Contest in Modeling" class="img-rounded image"/>
              <div class="caption">
                <h3>MCM/ICM Contestant</h3>
                <p>Using Matlab mathmetics model buiding, Java for model GUI.</p>
                <p style="font-weight: bold;">Our team got Honorable Mention in 2017 Interdiciplinary Contest in Modeling!</p>
                <p>Did not sleep in four days to finish our paper! It's like Hackathon in Math (Mathmarathon?).One of the greatest experience in college.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="../assets/images/research.jpg" alt="Research Assistent" class="img-rounded image"/>
              <div class="caption">
                <h3>Research Assistent</h3>
                <p>Assisted Professor Xiaodong, Jiang, Zoological Sciences, Life Science College of ECNU, in
                  daily research tasks on zooplanktons.</p>
                <p>Conducted experiments for personal project to find out what effects the population and species of zooplankton and
                  phytoplankton in tap water.</p>
                <p style="font-weight: bold;">Achieved 3rd place in Shanghai Adolescents Science & Technology Innovation Contest</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="../assets/images/translator.jpg" alt="Subtitle Translator" class="img-rounded image"/>
              <div class="caption">
                <h3>Translator</h3>
                <p>Translaing American TV show subtiles into mandarin.</p>
                <p>"How I learned English" LOL</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
  </html>
