<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Jianyi Gao's Personal Webpage">
    <meta name="author" content="Jianyi Gao">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../style/project_style.css">
  </head>
  <body>
    <div class = "background">
    <div class = "header">
    <nav class="navbar navbar-default">
        <div class="container">
            <a class="navbar-brand" href="me.html">Jianyi Gao</a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarmenu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarmenu">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="projects.html">Projects</a></li>
                    <li><a href="past.html">A Link to the Past</a></li>
                    <li><a href="future.html">A Glimpse into the Future</a></li>
                    <li><a href="../assets/file/JianyiGao_Resume.pdf">Resume</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    </div>

    <div class="panel panel-default" style = "margin-top: 0.5%;">
      <div class="panel-body">
        <p class = "title">
          QU Web Application -- An Airbnb style parking app
        </p>
        <div class="col-xs-4 col-md-2">
          <a class="thumbnail">
            <img src= "../assets/images/qu_logo.png" alt="QU_logo">
          </a>
        </div>
          <div>
            <div class = "description-left">
              <ul>
                <li>Have you ever found yourself finding a parking space
                for hours and still can not find one for a reseanable price? </li>
                <li>QU park is here to solve the problem!</li>
                <li>This is a platform for hosts to rent their parking spots and
                for users to conveniently rent one when in need.</li>
                <li>Developed with MEAN stack framework in Agile development team,
                created CRUD module for both hosts and renters to operate parking
                spot and booking on server side with Express.js, manage user, parking spot,
                and booking information with Mongoose.</li>
              </ul>
          </div>
        </div>
        <a type="button" class="btn btn-default" id = "link" href = "https://qu-park.herokuapp.com/">QU Website <span class = "glyphicon glyphicon-menu-right"></span> </a>
        <a type="button" class="btn btn-default" href = "https://github.com/JianyiGao/qu" >Github <span class = "glyphicon glyphicon-menu-right"></span> </a>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <p class = "title">
          University of Florida Open Journal System
        </p>
        <div class = "row">
          <div class = "description-right col-md-9">
            <ul>
              <li>Bringing UF Center of Undergraduate Research into the new centry!</li>
              <li>Building new online journal system with Public Knowledge Project,
                a multi-university initiative developing open source software </li>
              <li>With this new platform, authors, editors, journal managers can work out the entire process within the same platform, greatly speed up the publication process.</li>
              <li>Developed with PHP, MySql, and user interface design.</li>
            </ul>
          </div>
            <a class="thumbnail col-xs-4 col-md-2">
              <img src= "../assets/images/curbs.png" alt="curbs_logo">
            </a>
        </div>
        <a type="button" class="btn btn-default" id = "disabled" disabled>Under Construction</a>
      </div>
    </div>

    <div class="panel panel-default" style = "margin-top: 0.5%;">
      <div class="panel-body">
        <p class = "title">
          Showcase -- Show the world your ideas!
        </p>
        <div class="col-xs-4 col-md-2">
          <a class="thumbnail">
            <img src= "../assets/images/showcase.png" alt="showcase_logo">
          </a>
        </div>
          <div>
            <div class = "description-left">
              <ul>
                <li>You know what's Github missing? A Showcase feature where hackers can show the world what they created!</li>
                <li>With Showcase, users can upload their project visual, catergorize it by skills, and find collrboraters for awesome ideas.</li>
                <li>For non-hackers, it will also be a great place to see what are people doing with this "programming" thing, what are the top 10 hot languages being used currently, and also as a reference for practise projects.</li>
                <li>Developed with love and MERN stack framework.</li>
              </ul>
          </div>
        </div>
        <a type="button" class="btn btn-default" id = "link" href = "https://github.com/JianyiGao/Showcase">Github<span class = "glyphicon glyphicon-menu-right"></span></a>
      </div>
    </div>

    <div class = "row">
      <div class = "col-md-6" id = "twin1">
        <div class="panel panel-default">
        <div class="panel-body">
          <p class = "title">
            Tweeter
          </p>
          <div class = "row">
            <div class = "description-right col-md-6">
              <ul>
                <li>Twitter behavior like iOS app with user authentication developed in Swift3.</li>
                <li>Implemented user time line with Twitter API, fetch real-time tweets from authenticated user, remember logged in user when app restarts.
                  Developed fully functional tweet, retweet, and like features.</li>
              </ul>
            </div>
              <a class="thumbnail col-xs-6 col-md-5">
                <img src= "https://raw.githubusercontent.com/JianyiGao/Twitter/master/Twitter_2.gif" alt="tweeter">
              </a>
          </div>
          <a type="button" class="btn btn-default" href = "https://github.com/JianyiGao/Twitter" id = "twin">Github<span class = "glyphicon glyphicon-menu-right"></span></a>
        </div>
      </div>
      </div>

      <div class = "col-md-6" id = "twin2">
        <div class="panel panel-default">
        <div class="panel-body">
          <p class = "title">
            MovieViewer
          </p>
          <div class = "row">
            <div class = "description-right col-md-6">
              <ul>
                <li>Checkout a list of movies currently playing in theaters!</li>
                <li>Poster images are loaded using the UIImageView category in the AF Networking library. For the large poster, load the low resolution image first and then switch to the high resolution image when complete.</li>
              </ul>
            </div>
              <a class="thumbnail col-xs-6 col-md-5">
                <img src= "https://raw.githubusercontent.com/JianyiGao/MovieViewer/master/MovieViewer_Week2.gif" alt="MovieViewer">
              </a>
          </div>
          <a type="button" class="btn btn-default" href = "https://github.com/JianyiGao/MovieViewer">Github<span class = "glyphicon glyphicon-menu-right"></span></a>
        </div>
      </div>
      </div>
    </div>

    <div class="panel panel-default" style = "margin-top: 0.5%;">
      <div class="panel-body">
        <p class = "title">
          Trap Source
        </p>
        <div class="col-xs-4 col-md-2">
          <a class="thumbnail">
            <img src= "../assets/images/Trapsource.png" alt="showcase_logo">
          </a>
        </div>
          <div>
            <div class = "description-left">
              <ul>
                <li>Starting a new business but don't know what to do?
                  Check TrapSource to gain resource about the industry, get guidance learning what question to ask,
                  and discover a network to make the right connections.</li>
                <li>TrapSource uses decision tree to provide interactive user experience.
                  Novince users and experienced users have different user interface to suit thier needs.</li>
                <li>Devloped with MEAN stack and Firebase.</li>
              </ul>
          </div>
        </div>
        <a type="button" class="btn btn-default" id = "link2"  href = "https://trapsource-c3482.firebaseapp.com/">Trap Source Website<span class = "glyphicon glyphicon-menu-right"></span> </a>
        <a type="button" class="btn btn-default" href = "https://github.com/JianyiGao/mean">Github<span class = "glyphicon glyphicon-menu-right"></span> </a>
      </div>
    </div>








  </div>



    <!-- <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
  </html>
